.box{
    background-color: orangered;
    width: 12%;
    height: 10px;
    border-radius: 10px 0px 10px 0px;
   }

   .headings{
     color:blue;
   }

   .titileandunderline{
     /* background-color: pink; */
     padding: 30px 40px;
   }

   .heading{
       color:red;
   }

.cardetails{
    margin: 0px 7px 0px 5px;
      font-family: arial;
      background-color: white;
      width: 20%;
      border: 1px solid red;
      border-radius: 13px;
  }

 
  .button {
    background-color: #ebf5ee; 
    border-radius:5px ;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .logomaker{
    /* background-color: blue; */
    width: 50%;
    position: absolute;
    padding: 10px;
    
  }

  .logofooter{
    /* background-color:pink;
    color:blue; */
  font-size: 30px;
  line-height: 90px;
  margin-left: 100px;
  font-weight: bold;
  }

 